html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 16px;
  }
}

f{
  background-color: rgb(249, 249, 249);
  border-radius: 0px 0px 4px 4px;
  bottom: -6px;
  content: "";
  height: 2px;
  opacity: 0;
  position: absolute;
  right: 0;
  transform-origin: left center;
}